.about {
  margin-top: -200px;
  display: block;
  height: 100%; }
  .about .col-md-10 {
    min-height: 500px;
    background: #fff;
    padding: 2.5%;
    border-radius: 5px 5px 0 0; }

.discover {
  background: #fff;
  border-radius: 5px 5px 0 0;
  padding: 15px 15px 0px; }

.overlay-footer {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute; }

.footer {
  position: relative;
  height: 100px;
  width: 100%;
  z-index: 0;
  background-position: bottom left;
  background-size: cover; }
  .footer .login-button {
    border-left: 1px solid #fff;
    padding-left: 15px; }
  .footer .logo {
    z-index: 2;
    color: #fff; }
    .footer .logo a {
      color: #fff; }
    .footer .logo h1 {
      letter-spacing: 5px;
      margin-left: 25px;
      margin-top: 30px; }
  .footer .nav {
    z-index: 2; }
    .footer .nav ul {
      margin-top: 50px;
      float: right; }
      .footer .nav ul li {
        display: inline-block;
        margin-right: 25px;
        letter-spacing: 2px;
        text-transform: uppercase; }
        .footer .nav ul li a:link, .footer .nav ul li a:visited, .footer .nav ul li a:active {
          color: #fff; }
        .footer .nav ul li a:hover {
          color: #e6e6e6; }

.main-holder {
  position: relative;
  height: 100vh; }

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0; }

.hero-image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  z-index: -1; }

.see-review {
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  vertical-align: middle; }

.intro {
  margin-top: 5%;
  color: #fff;
  text-align: center; }
  .intro .title {
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    width: 100%; }
    .intro .title .featured-title {
      position: relative; }
      .intro .title .featured-title:after {
        position: absolute;
        top: 0;
        left: -70px;
        z-index: 9999;
        color: #E87E04;
        content: 'TMY FEATURED';
        font-size: 18px;
        transform: rotate(-15deg); }
  .intro .genres {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    display: block;
    width: 100%; }
  .intro .credits {
    width: 100%;
    margin-bottom: 10px; }
    .intro .credits .director, .intro .credits .cast {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 300;
      display: inline-block;
      text-align: left;
      margin-right: 10px; }
      .intro .credits .director .intro-text, .intro .credits .cast .intro-text {
        font-size: 10px; }
  .intro .overview {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    display: block; }
  .intro .score {
    font-size: 24px; }

@-webkit-keyframes shine {
  100% {
    left: 125%; } }
@keyframes shine {
  100% {
    left: 125%; } }
.trailer-container {
  margin-bottom: 25px; }

.recent {
  margin-top: -150px;
  display: block;
  height: 100%; }
  .recent .discover-section {
    background: #fff;
    border-radius: 5px 0 0 0; }
    .recent .discover-section .discover-help {
      cursor: pointer;
      color: #EF4836; }
      .recent .discover-section .discover-help:hover {
        color: #e02612; }
    .recent .discover-section #discoverTooltip {
      display: none; }
  .recent .nowplaying-section {
    background: #fff;
    border-radius: 0 5px 0 0; }
    .recent .nowplaying-section .nowplaying-help {
      cursor: pointer;
      color: #E87E04; }
      .recent .nowplaying-section .nowplaying-help:hover {
        color: #b66303; }
    .recent .nowplaying-section #nowplayingTooltip {
      display: none; }
  .recent .col-md-10 {
    background: #fff; }
  .recent #homeRecentMovies, .recent .discover, .recent .nowplaying {
    padding: 0; }
    .recent #homeRecentMovies .recent-item, .recent .discover .recent-item, .recent .nowplaying .recent-item {
      text-transform: uppercase;
      cursor: pointer;
      vertical-align: top;
      display: block; }
      .recent #homeRecentMovies .recent-item a, .recent .discover .recent-item a, .recent .nowplaying .recent-item a {
        color: #666; }
      .recent #homeRecentMovies .recent-item .poster, .recent .discover .recent-item .poster, .recent .nowplaying .recent-item .poster {
        margin-bottom: 25px; }
        .recent #homeRecentMovies .recent-item .poster img, .recent .discover .recent-item .poster img, .recent .nowplaying .recent-item .poster img {
          width: 100%;
          height: auto; }
      .recent #homeRecentMovies .recent-item .info, .recent .discover .recent-item .info, .recent .nowplaying .recent-item .info {
        padding: 0; }
        .recent #homeRecentMovies .recent-item .info h2, .recent .discover .recent-item .info h2, .recent .nowplaying .recent-item .info h2 {
          font-size: 12px;
          margin: 5px 0px;
          letter-spacing: 2px; }
        .recent #homeRecentMovies .recent-item .info p, .recent .discover .recent-item .info p, .recent .nowplaying .recent-item .info p {
          font-size: 8px;
          letter-spacing: 1px; }
      .recent #homeRecentMovies .recent-item .score-container, .recent .discover .recent-item .score-container, .recent .nowplaying .recent-item .score-container {
        padding: 0;
        text-align: right;
        padding-top: 5px; }
        .recent #homeRecentMovies .recent-item .score-container .score, .recent .discover .recent-item .score-container .score, .recent .nowplaying .recent-item .score-container .score {
          position: relative;
          color: #E87E04; }
          .recent #homeRecentMovies .recent-item .score-container .score .rating-number, .recent .discover .recent-item .score-container .score .rating-number, .recent .nowplaying .recent-item .score-container .score .rating-number {
            color: #fff;
            position: absolute;
            font-size: 12px;
            left: 10px;
            top: 9px;
            font-weight: 700; }
          .recent #homeRecentMovies .recent-item .score-container .score .fa, .recent .discover .recent-item .score-container .score .fa, .recent .nowplaying .recent-item .score-container .score .fa {
            font-size: 30px;
            position: relative;
            float: right; }
      .recent #homeRecentMovies .recent-item img, .recent .discover .recent-item img, .recent .nowplaying .recent-item img {
        width: 100%;
        height: auto; }
      .recent #homeRecentMovies .recent-item.recent-reviewed, .recent .discover .recent-item.recent-reviewed, .recent .nowplaying .recent-item.recent-reviewed {
        height: 425px; }
    .recent #homeRecentMovies.discover .recent-item, .recent #homeRecentMovies.nowplaying .recent-item, .recent .discover.discover .recent-item, .recent .discover.nowplaying .recent-item, .recent .nowplaying.discover .recent-item, .recent .nowplaying.nowplaying .recent-item {
      cursor: default;
      display: block; }
      .recent #homeRecentMovies.discover .recent-item:before, .recent #homeRecentMovies.nowplaying .recent-item:before, .recent .discover.discover .recent-item:before, .recent .discover.nowplaying .recent-item:before, .recent .nowplaying.discover .recent-item:before, .recent .nowplaying.nowplaying .recent-item:before {
        display: none; }
      .recent #homeRecentMovies.discover .recent-item .poster, .recent #homeRecentMovies.nowplaying .recent-item .poster, .recent .discover.discover .recent-item .poster, .recent .discover.nowplaying .recent-item .poster, .recent .nowplaying.discover .recent-item .poster, .recent .nowplaying.nowplaying .recent-item .poster {
        height: auto; }
  .recent #recentMovies .recent-item {
    height: 450px; }

.featured-now-playing {
  margin-bottom: 25px; }
  .featured-now-playing .poster img {
    width: 100%; }

.movie-details {
  margin-top: -200;
  border-radius: 3px 3px 0 0;
  background: #ffffff;
  padding: 35px 15px; }
  .movie-details .poster {
    width: 100%;
    height: auto;
    margin-bottom: 15px; }
  .movie-details .movie-info {
    display: block;
    margin-bottom: 5px; }
    .movie-details .movie-info .prop {
      color: #59ABE3; }
  .movie-details .movie-review .movie-title {
    margin-top: 0; }
  .movie-details .movie-review h3 {
    margin-top: 0; }
  .movie-details .movie-review p {
    font-size: 16px;
    letter-spacing: 1px; }
  .movie-details .interior-image {
    display: block;
    margin-bottom: 15px; }
    .movie-details .interior-image img {
      width: 100%;
      height: auto; }

#similarMovies {
  padding: 0; }
  #similarMovies a {
    color: #666; }
  #similarMovies .similar {
    padding: 5px; }
    #similarMovies .similar p {
      font-size: 12px;
      margin-top: 10px; }
    #similarMovies .similar img {
      width: 100%;
      height: auto; }

.navbar .logo a {
  color: #fff;
  letter-spacing: 5px; }
.navbar .logo h1 {
  color: #fff;
  letter-spacing: 5px; }
.navbar .login {
  margin-top: 2.5%;
  text-align: right; }
  .navbar .login a:link, .navbar .login a:visited, .navbar .login a:active {
    color: #fff;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .navbar .login a:hover {
    text-decoration: none;
    color: #e6e6e6; }
  .navbar .login li {
    display: inline-block;
    margin-left: 15px; }
  .navbar .login .login-button {
    border-left: 1px solid #fff;
    padding-left: 15px; }

.sort {
  background: #fff;
  cursor: pointer;
  padding: 15px 15px 0px; }
  .sort .sort-filter {
    margin-right: 10px; }
  .sort .sort-dropdown {
    padding: 0; }
    .sort .sort-dropdown li {
      display: inline-block;
      color: #59ABE3;
      font-size: 10px;
      margin-right: 10px;
      text-transform: uppercase;
      cursor: pointer; }

.no-filter-items {
  text-align: center;
  padding-top: 50px;
  font-size: 24px;
  display: none; }
  .no-filter-items img {
    width: 250px;
    height: auto; }

.show-more-button {
  color: #59ABE3;
  cursor: pointer;
  margin-bottom: 25px; }
  .show-more-button:hover {
    color: #2d95dc; }

.all-movies #recentMovies .recent-item {
  width: 16.6% !important;
  height: 350px; }
  .all-movies #recentMovies .recent-item .poster {
    height: 240px; }

.oops {
  margin-top: 5%; }
  .oops h1 {
    font-size: 100px; }
  .oops .tmy-input {
    border: none;
    border-bottom: 1px solid #59ABE3;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
    font-size: 24px; }
    .oops .tmy-input.login-input {
      margin-left: 25px;
      width: 75%;
      background: none; }
    .oops .tmy-input:focus {
      outline: 0; }

@media (max-width: 730px) {
  .hero-image {
    background-position: center center;
    background-repeat: no-repeat; }

  .navbar .logo {
    text-align: center; }
  .navbar .nav ul {
    padding-left: 0;
    text-align: center; }

  .intro {
    margin-top: 0; }
    .intro .title {
      font-size: 35px; }
      .intro .title .featured-title:after {
        display: none; }
    .intro .overview {
      display: none; }

  .recent h4 {
    text-align: center; }
  .recent .discover-section, .recent .nowplaying-section {
    padding-top: 10px;
    height: 500px; }
    .recent .discover-section h4, .recent .nowplaying-section h4 {
      text-align: center;
      margin-bottom: 10px; }

  .recent-reviewed {
    height: 635px !important; }
    .recent-reviewed .info h2 {
      font-size: 24px !important;
      text-align: center; }
    .recent-reviewed .info p {
      font-size: 12px !important;
      text-align: center; }
    .recent-reviewed .score-container {
      display: none; }

  .footer .nav ul {
    margin-top: 0;
    float: none !important; } }
* {
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; }

a, a:link, a:visited, a:active {
  color: #59ABE3; }

a:hover {
  color: #2d95dc;
  text-decoration: none; }

.recent-item {
  /*I removed "transform 0.5s" and "!important"*/
  transition: opacity 0.5s, background-color 0.25s linear, border-color 0.25s linear; }

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s; }

/*# sourceMappingURL=main.css.map */
