.oops {
  margin-top: 5%;
  
  h1 {
    font-size: 100px;
  }
  
  .tmy-input {
    border: none;
    border-bottom: 1px solid $blue;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
    font-size: 24px;
    &.login-input {
      margin-left: 25px;
      width: 75%;
      background: none;
    }
    &:focus {
      outline: 0;
    }
  }
}