.show-more-button {
  color: $blue;
  cursor: pointer;
  margin-bottom: 25px;
  &:hover {
    color: darken($blue, 10%);
  }
}

.all-movies{
  #recentMovies{
    .recent-item {
      width: 16.6% !important;
      height: 350px;
      .poster {
        height: 240px;
      }
    }
  }
}