* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  color: $grey;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

a, a:link, a:visited, a:active {
  color: $blue;
}

a:hover {
  color: darken($blue, 10%);
  text-decoration: none;
}

.recent-item {
    /*I removed "transform 0.5s" and "!important"*/
    transition: opacity 0.5s, background-color 0.25s linear, border-color 0.25s linear;
}