$blue : #59ABE3;
$red  : #EF4836;
$grey : #666666;
$gold : #E87E04;
* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  color: $grey;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

a, a:link, a:visited, a:active {
  color: $blue;
}

a:hover {
  color: darken($blue, 10%);
  text-decoration: none;
}
.overlay-footer {
  background: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}

.footer {
  position: relative;
  height: 100px;
  width: 100%;
  z-index: 0;
  background-position: bottom left;
  background-size: cover;
  
  .logo {
    z-index: 2;
    color: #fff;
    a {
      color: #fff;
    }
    h1 {
      letter-spacing: 5px;
      margin-left: 25px;
      margin-top: 30px;
    }
  }
  
  .nav {
    z-index: 2;
    ul {
      margin-top: 50px;
      float: right;
      li {
        display: inline-block;
        margin-right: 25px;
        letter-spacing: 2px;
        text-transform: uppercase;
        a:link, a:visited, a:active {
          color: #fff;
        }
        a:hover {
          color: darken(#fff, 10%);
        }
      }
    }
  }
}
.main-holder {
  position: relative;
  height: 100vh;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,.5);
  z-index: 0;
}

.hero-image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  z-index: -1;
}

.intro {
  margin-top: 5%;
  color: #fff;
  
  .title {
    font-size: 75px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    width: 100%;
    text-align: center;
  }
  .genres {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    display: block;
    width: 100%;
    text-align: center;
  }
  .credits {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    .director, .cast {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 300;
      display: inline-block;
      text-align: left;
      margin-right: 10px;
      .intro-text {
        font-size: 10px;
      }
    }
  }
  .overview {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    display: block;
    text-align: center;
    width: 90%;
    padding-left: 10%;
  }
  .score {
    font-size: 24px;
    text-align: center;
  }
}

.recent {
  margin-top: -100px;
  
  .sort {
    background: #fff;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    padding: 15px 30px 0px;
    .sort-dropdown {
      padding: 0;
      li {
        display: inline-block;
        color: $blue;
        font-size: 10px;
        margin-right: 10px;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
  
  #recentMovies {
    background: #fff;
    
    .recent-item {
      margin-bottom: 25px;
      text-transform: uppercase;
      height: 425px;
      cursor: pointer;
      padding-top: 15px;
      border: 1px solid #ffffff;
      border-radius: 3px;
      transition: .2s ease all;
      &:hover {
        border: 1px solid $blue;
      }
      
      .info {
        padding: 0;
        h2 {
          font-size: 12px;
          margin: 5px 0px;
          letter-spacing: 2px;
        }
        p {
          font-size: 8px;
          letter-spacing: 1px;
        } 
      }
      .score-container {
        padding: 0;
        text-align: right;
        padding-top: 5px;
        .score {
          position: relative;
          color: $gold;
          .rating-number {
            color: #fff;
            position: absolute;
            font-size: 12px;
            left: 10px;
            top: 9px;
            font-weight: 700;
          }
          .fa {
            font-size: 30px;
            position: relative;
            float: right;
          }
        } 
      }
      img {
        width: 100%;
        height: auto;
      }
    } 
  }
}
.movie-details {
  margin-top: -200;
  border-radius: 3px 3px 0 0;
  background: #ffffff;
  padding: 35px 15px;
  .poster {
    width: 100%;
    height: auto;
  }
  .movie-review {
    h3 {
      margin-top: 0;
    }
    p {
      font-size: 16px;
      letter-spacing: 1px;
    }
  }
}
.show-more-button {
  color: $blue;
  cursor: pointer;
  margin-bottom: 25px;
  &:hover {
    color: darken($blue, 10%);
  }
}
.navbar {

  .logo{
    a {
      color: #fff;
      letter-spacing: 5px;
    }
    h1 {
      color: #fff;
      letter-spacing: 5px;
    }
  }
  .login {
    margin-top: 2.5%;
    text-align: right;
    a:link, a:visited, a:active {
      color: #fff;
      font-weight: 100;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    a:hover {
      text-decoration: none;
      color: darken(#fff, 10%);
    }
  }
}