.navbar {

  .logo{
    a {
      color: #fff;
      letter-spacing: 5px;
    }
    h1 {
      color: #fff;
      letter-spacing: 5px;
    }
  }
  .login {
    margin-top: 2.5%;
    text-align: right;
    a:link, a:visited, a:active {
      color: #fff;
      font-weight: 100;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    a:hover {
      text-decoration: none;
      color: darken(#fff, 10%);
    }
    li {
      display: inline-block;
      margin-left: 15px;
    }
    .login-button {
      border-left: 1px solid #fff;
      padding-left: 15px;
    }
  }
}