@import '../../sass/variables.scss';

body {
  font-family: 'Raleway', sans-serif;
  color: #666;
}

table {
  border: 1px solid #ccc;
}

th {
  text-align: left;
  font-weight: 100;
  background: #ececec;
  padding: 10 20px;
  font-size: 12px;
  color: #666;
}

.sidebar-item {
  display: none;
}

.button-primary {
  background: $blue;
  color: #fff;
  min-width: 100px;
  &:hover {
    color: #fff;
    background: darken($blue, 10%);
  }
}

.tmy-button{
  background: $blue;
  color: #fff;
  border: none;
  border-radius: 3px;
  letter-spacing: 1px;
  padding: 10px 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  &:hover {
    background: darken($blue, 10%);
  }
}

.tmy-input {
  border: none;
  border-bottom: 1px solid $blue;
  display: inline-block;
  margin-bottom: 15px;
  &.login-input {
    margin-left: 25px;
    width: 75%;
    background: none;
  }
}

.tmy-input.server {
  width: 500px;
}

.server-reset {
  display: inline-block;
  margin-right: 20px;
}

.online {
  color: #4ECDC4;
}

.offline {
  color: #EC644B;
}

.search-field {

  .search-box {
    width: 500px;
  } 
}

.users-header {
  h1 {
    display: inline-block;
  }
  .add-user {
    color: $blue;
    display: inline-block;
    font-size: 24px;
    margin-left: 15px;
    cursor: pointer;
  } 
}

.review {
  margin-top: 25px;
  .movie-title {
    width: 300px;
  }  
  .editor {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
    padding: 15px;
    font-size: 18px;
  }
}

.results {
  margin-bottom: 25px;
  
  #posterContainer {
    margin-top: 25px;
    cursor: pointer;
    background: #fff;
    padding: 10px;
    
    &:hover {
      background: #ececec;
    }
    
    .poster-item {
      
      img {
        width: 100%;
        height: auto;
      }
    }
    
    .rating {
      margin-top: -5px;
    }
  }
}

.recent {
  
  .controls {
    padding: 0;
  }
  
  .sort {
    background: #fff;
    cursor: pointer;
    padding-top: 10px;
    border-radius: 5px 5px 0 0;
    padding-bottom: 10px;
    .sort-dropdown {
      padding: 0;
      li {
        display: inline-block;
        color: $blue;
        font-size: 10px;
        margin-right: 10px;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
  
  #recentMovies {
    background: #fff;
    
    .recent-item {
      width: 18% !important;
      margin-bottom: 25px;
      text-transform: uppercase;
      cursor: pointer;
      padding: 5px;
      border-radius: 3px;
      position: relative;
      overflow: hidden;
      height: 360px;
      &:hover {
        background: #ffffff;
      }
      
      .info {
        padding: 0;
        h2 {
          font-size: 12px;
          margin: 5px 0px;
          letter-spacing: 2px;
        }
        p {
          font-size: 8px;
          letter-spacing: 1px;
        } 
      }
      .score-container {
        padding: 0;
        text-align: right;
        padding-top: 5px;
        .score {
          position: relative;
          color: $gold;
          .rating-number {
            color: #fff;
            position: absolute;
            font-size: 12px;
            left: 10px;
            top: 9px;
            font-weight: 700;
          }
          .fa {
            font-size: 30px;
            position: relative;
            float: right;
          }
        } 
      }
      img {
        width: 100%;
        height: auto;
      }
      .featured-text {
        display: none;
      }
    } 
    .featured {
      background: #ffffff;
      
      .featured-text {
        font-weight: 700;
        text-align: center;
        display: block;
        position: absolute;
        top: 10px;
        left: 20px;
        color: #fff;
        font-size: 40px;
      }
    }
  }
  
.show-more-button {
  color: $blue;
  cursor: pointer;
  margin-bottom: 25px;
  &:hover {
    color: darken($blue, 10%);
  }
}
  
  &.home {
    #recentMovies {
      .recent-item {
        width: 100% !important;
        padding: 5px;
        border-radius: 3px;
        position: relative;
        overflow: visible;
        padding-top: 10px;
        margin-bottom: 15px;
        text-transform: uppercase;
        height: 425px;
        cursor: default;
        &:hover {
          background: #ffffff;
        }
      }
    }
  }
  
  #users {
    .user {
      font-size: 10px;
      padding: 0;
    }
    .header {
      font-size: 10px;
      padding: 0;
      margin-bottom: 10px;
    }
  }
}

.nohover {
  background: #fff;
  cursor: default;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  &:hover {
    background: #fff;
  }
}

#usersContainer {
  .row {
    cursor: pointer;
    padding: 5px 10px;
    position: relative;
    font-size: 10px;
    &:hover {
      background: #ececec;
      #edit {
        color: $blue;
      }
    }
    .user-details {
      display: none;
      .email-small {
        font-size: 12px;
        color: $gold;
      }
      input {
        width: 100%;
        height: 25px;
        padding: 5px;
        border: 1px solid #ccc;
        background: #fff;
        border-radius: 3px;
      }
      .login-submit{
        background: $blue;
        color: #fff;
        border: none;
        border-radius: 3px;
        letter-spacing: 1px;
        padding: 10px 20px;
        height: 32px;
        margin-top: 25px;
        &:hover {
          background: darken($blue, 10%);
        }
        &.delete {
          background: $red;
          &:hover {
            background: darken($red, 10%);
          }
        }
      }
      .login-form {
        .editing {
          p{
            margin: 0px;
          }
          .dropdown {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 5px 20px;
            border-radius: 3px;
            position: relative;
            border: 1px solid $blue;
          }
        }
        .cancel {
          display: inline-block;
          vertical-align: bottom;
          margin-top: 40px;
          margin-left: 10px;
          color: $red;
          font-size: 14px;
          cursor: pointer;
          &:hover {
            color: darken($red, 10%);
          }
        }
      }
    }
  }
  .user {
    
  }
  .date {
    font-size: 9px;
  }
  .permissions {
    color: $blue;
    cursor: pointer;
  }
  .header {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
  }
  #allPermissions {
    right: 10px;
    text-align: right;
    position: absolute;
    z-index: 9999;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    li {
      display: block;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0px;
      }
      &:hover {
        color: $blue;
      }
    }
  }
}

.user-actions {
  position: absolute;
  bottom: 50px;
  left: 40px;
  z-index: 9999;
  .logout {
    color: $blue;
    .logout-submit {
      background: none;
      color: $blue;
      border: none;
    }
  }
  .profile {
    color: $blue;
    margin-bottom: 15px;
  }
  a {
    text-decoration: none;
  }
}

.navbar {
  z-index: 9999;
  margin-top: -20px;
  .logo{
    h1 {
      color: #fff;
      letter-spacing: 5px;
      font-weight: 400;
    }
    a {
      color: #fff;
      text-decoration: none;
    }
  }
  .login {
    margin-top: 2.5%;
    text-align: right;
    a:link, a:visited, a:active {
      color: #fff;
      font-weight: 100;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    a:hover {
      text-decoration: none;
      color: darken(#fff, 10%);
    }
  }
}

.login-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.login-only {
  text-align: center;
  padding-top: 5%;
  font-size: 25px;
  color: #fff;
  text-shadow: 1px 1px rgba(0,0,0,.5);
  z-index: 9999;
  label.error {
    font-weight: 100;
    color: $gold;
    position: absolute;
    padding-left: 10px;
    text-align: left;
  }
  .center-form {
    margin: 0 auto;
    width: 75%;
    display: block;
    position: relative;
    .form-header {
      font-weight: 100;
    }
  }
  p {
    font-size: 16px;
    text-align: left;
  }
  .login-form {
    p.form-label {
      margin-top: 25px;
      display: inline-block;
      width: 15%;
      text-align: right;
    }
    .login-submit {
      background: $blue;
      color: #fff;
      border: none;
      border-radius: 3px;
      letter-spacing: 1px;
      padding: 10px 20px;
      &:hover {
        background: darken($blue, 10%);
      }
    }
    .login-signup {
      input {
        display: inline-block;
        font-size: 16px;
        text-transform: uppercase;
      }
      p {
        display: block;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 0;
        vertical-align: bottom;
      }
      a:hover, a:link, a:active, a:visited {
        text-decoration: none;
      }
    }
  }
}

.overlay {
  background: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

#bannerContainer {
  .banner-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 0;
  }
}

.login {
  position: absolute;
  width: 80%;
  height: 100%;
  text-align: center;
  font-size: 25px;
  left: 250px;
  top: 0;
  padding-top: 10%;
  
  .login-form {
    p {
      font-size: 18px;
      margin-top: 25px;
    }
    .login-submit {
      background: $blue;
      color: #fff;
      border: none;
      border-radius: 3px;
      font-weight: 100;
      padding: 10px 20px;
    }
  }
}

.user-profile {
  padding-top: 25px;
  .headshot-container {
    .headshot {
      background: #ececec;
      border-radius: 50%;
      width: 250px;
      heighT: 250px;
      overflow: hidden;
      .fa {
        margin-top: 50px;
        margin-left: 25px;
        font-size: 250px;
      }
    }
    .headshot-upload {
      margin-top: 15px;
    }
    input {
      border: none;
    }
  }
  .user-account {
    .userdeets {
      display: block;
    } 
  }
}
.user-header {
  .email {
    color: $gold;
    font-size: 18px;
    font-weight: 100;
    margin-left: 15px;
  }
}

.discovery-movies {
  #discoveryMovies{
    display: block;
    height: auto;
    width: 100%;
  }
  
  .loading {
    height: 200px;
    padding-top: 75px;
    text-align: center;
    display: block;
    i {
      font-size: 50px;
    }
  }
  
  h5 {
    display: inline-block;
  }
  p.getmovies {
    display: inline-block;  
    font-size: 10px;
    color: $blue;
    margin-left: 10px;
    cursor: pointer;
  }
  
    .discovery-item {
      width: 10%;
      margin-bottom: 10px;
      text-transform: uppercase;
      cursor: pointer;
      padding: 5px;
      border-radius: 3px;
      position: relative;
      overflow: hidden;
      display: inline-block;
      &.discovery-featured {
        border: 1px solid $blue;
      }
      
      .info {
        padding: 0;
        h2 {
          font-size: 12px;
          margin: 5px 0px;
          letter-spacing: 2px;
        }
        p {
          font-size: 8px;
          letter-spacing: 1px;
        } 
      }
      .score-container {
        padding: 0;
        text-align: right;
        padding-top: 5px;
        .score {
          position: relative;
          color: $gold;
          .rating-number {
            color: #fff;
            position: absolute;
            font-size: 12px;
            left: 10px;
            top: 9px;
            font-weight: 700;
          }
          .fa {
            font-size: 30px;
            position: relative;
            float: right;
          }
        } 
      }
      img {
        width: 100%;
        height: auto;
      }
    } 
}