body {
  font-family: 'Raleway', sans-serif;
  color: #666; }

table {
  border: 1px solid #ccc; }

th {
  text-align: left;
  font-weight: 100;
  background: #ececec;
  padding: 10 20px;
  font-size: 12px;
  color: #666; }

.sidebar-item {
  display: none; }

.button-primary {
  background: #59ABE3;
  color: #fff;
  min-width: 100px; }
  .button-primary:hover {
    color: #fff;
    background: #2d95dc; }

.tmy-button {
  background: #59ABE3;
  color: #fff;
  border: none;
  border-radius: 3px;
  letter-spacing: 1px;
  padding: 10px 20px;
  margin-top: 15px;
  margin-bottom: 15px; }
  .tmy-button:hover {
    background: #2d95dc; }

.tmy-input {
  border: none;
  border-bottom: 1px solid #59ABE3;
  display: inline-block;
  margin-bottom: 15px; }
  .tmy-input.login-input {
    margin-left: 25px;
    width: 75%;
    background: none; }

.tmy-input.server {
  width: 500px; }

.server-reset {
  display: inline-block;
  margin-right: 20px; }

.online {
  color: #4ECDC4; }

.offline {
  color: #EC644B; }

.search-field .search-box {
  width: 500px; }

.users-header h1 {
  display: inline-block; }
.users-header .add-user {
  color: #59ABE3;
  display: inline-block;
  font-size: 24px;
  margin-left: 15px;
  cursor: pointer; }

.review {
  margin-top: 25px; }
  .review .movie-title {
    width: 300px; }
  .review .editor {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
    padding: 15px;
    font-size: 18px; }

.results {
  margin-bottom: 25px; }
  .results #posterContainer {
    margin-top: 25px;
    cursor: pointer;
    background: #fff;
    padding: 10px; }
    .results #posterContainer:hover {
      background: #ececec; }
    .results #posterContainer .poster-item img {
      width: 100%;
      height: auto; }
    .results #posterContainer .rating {
      margin-top: -5px; }

.recent .controls {
  padding: 0; }
.recent .sort {
  background: #fff;
  cursor: pointer;
  padding-top: 10px;
  border-radius: 5px 5px 0 0;
  padding-bottom: 10px; }
  .recent .sort .sort-dropdown {
    padding: 0; }
    .recent .sort .sort-dropdown li {
      display: inline-block;
      color: #59ABE3;
      font-size: 10px;
      margin-right: 10px;
      text-transform: uppercase;
      cursor: pointer; }
.recent #recentMovies {
  background: #fff; }
  .recent #recentMovies .recent-item {
    width: 18% !important;
    margin-bottom: 25px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    height: 360px; }
    .recent #recentMovies .recent-item:hover {
      background: #ffffff; }
    .recent #recentMovies .recent-item .info {
      padding: 0; }
      .recent #recentMovies .recent-item .info h2 {
        font-size: 12px;
        margin: 5px 0px;
        letter-spacing: 2px; }
      .recent #recentMovies .recent-item .info p {
        font-size: 8px;
        letter-spacing: 1px; }
    .recent #recentMovies .recent-item .score-container {
      padding: 0;
      text-align: right;
      padding-top: 5px; }
      .recent #recentMovies .recent-item .score-container .score {
        position: relative;
        color: #E87E04; }
        .recent #recentMovies .recent-item .score-container .score .rating-number {
          color: #fff;
          position: absolute;
          font-size: 12px;
          left: 10px;
          top: 9px;
          font-weight: 700; }
        .recent #recentMovies .recent-item .score-container .score .fa {
          font-size: 30px;
          position: relative;
          float: right; }
    .recent #recentMovies .recent-item img {
      width: 100%;
      height: auto; }
  .recent #recentMovies .featured {
    background: #ffffff; }
    .recent #recentMovies .featured .featured-text {
      font-weight: 700;
      text-align: center; }
.recent .show-more-button {
  color: #59ABE3;
  cursor: pointer;
  margin-bottom: 25px; }
  .recent .show-more-button:hover {
    color: #2d95dc; }
.recent.home #recentMovies .recent-item {
  width: 100% !important;
  padding: 5px;
  border-radius: 3px;
  position: relative;
  overflow: visible;
  padding-top: 10px;
  margin-bottom: 15px;
  text-transform: uppercase;
  height: 425px;
  cursor: default; }
  .recent.home #recentMovies .recent-item:hover {
    background: #ffffff; }
.recent #users .user {
  font-size: 10px;
  padding: 0; }
.recent #users .header {
  font-size: 10px;
  padding: 0;
  margin-bottom: 10px; }

.nohover {
  background: #fff;
  cursor: default;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px; }
  .nohover:hover {
    background: #fff; }

#usersContainer .row {
  cursor: pointer;
  padding: 5px 10px;
  position: relative;
  font-size: 10px; }
  #usersContainer .row:hover {
    background: #ececec; }
    #usersContainer .row:hover #edit {
      color: #59ABE3; }
  #usersContainer .row .user-details {
    display: none; }
    #usersContainer .row .user-details .email-small {
      font-size: 12px;
      color: #E87E04; }
    #usersContainer .row .user-details input {
      width: 100%;
      height: 25px;
      padding: 5px;
      border: 1px solid #ccc;
      background: #fff;
      border-radius: 3px; }
    #usersContainer .row .user-details .login-submit {
      background: #59ABE3;
      color: #fff;
      border: none;
      border-radius: 3px;
      letter-spacing: 1px;
      padding: 10px 20px;
      height: 32px;
      margin-top: 25px; }
      #usersContainer .row .user-details .login-submit:hover {
        background: #2d95dc; }
      #usersContainer .row .user-details .login-submit.delete {
        background: #EF4836; }
        #usersContainer .row .user-details .login-submit.delete:hover {
          background: #e02612; }
    #usersContainer .row .user-details .login-form .editing p {
      margin: 0px; }
    #usersContainer .row .user-details .login-form .editing .dropdown {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 5px 20px;
      border-radius: 3px;
      position: relative;
      border: 1px solid #59ABE3; }
    #usersContainer .row .user-details .login-form .cancel {
      display: inline-block;
      vertical-align: bottom;
      margin-top: 40px;
      margin-left: 10px;
      color: #EF4836;
      font-size: 14px;
      cursor: pointer; }
      #usersContainer .row .user-details .login-form .cancel:hover {
        color: #e02612; }
#usersContainer .date {
  font-size: 9px; }
#usersContainer .permissions {
  color: #59ABE3;
  cursor: pointer; }
#usersContainer .header {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc; }
#usersContainer #allPermissions {
  right: 10px;
  text-align: right;
  position: absolute;
  z-index: 9999;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px; }
  #usersContainer #allPermissions li {
    display: block;
    margin-bottom: 10px; }
    #usersContainer #allPermissions li:last-child {
      margin-bottom: 0px; }
    #usersContainer #allPermissions li:hover {
      color: #59ABE3; }

.user-actions {
  position: absolute;
  bottom: 50px;
  left: 40px;
  z-index: 9999; }
  .user-actions .logout {
    color: #59ABE3; }
    .user-actions .logout .logout-submit {
      background: none;
      color: #59ABE3;
      border: none; }
  .user-actions .profile {
    color: #59ABE3;
    margin-bottom: 15px; }
  .user-actions a {
    text-decoration: none; }

.navbar {
  z-index: 9999;
  margin-top: -20px; }
  .navbar .logo h1 {
    color: #fff;
    letter-spacing: 5px;
    font-weight: 400; }
  .navbar .logo a {
    color: #fff;
    text-decoration: none; }
  .navbar .login {
    margin-top: 2.5%;
    text-align: right; }
    .navbar .login a:link, .navbar .login a:visited, .navbar .login a:active {
      color: #fff;
      font-weight: 100;
      text-transform: uppercase;
      letter-spacing: 2px; }
    .navbar .login a:hover {
      text-decoration: none;
      color: #e6e6e6; }

.login-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.login-only {
  text-align: center;
  padding-top: 5%;
  font-size: 25px;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  z-index: 9999; }
  .login-only label.error {
    font-weight: 100;
    color: #E87E04;
    position: absolute;
    padding-left: 10px;
    text-align: left; }
  .login-only .center-form {
    margin: 0 auto;
    width: 75%;
    display: block;
    position: relative; }
    .login-only .center-form .form-header {
      font-weight: 100; }
  .login-only p {
    font-size: 16px;
    text-align: left; }
  .login-only .login-form p.form-label {
    margin-top: 25px;
    display: inline-block;
    width: 15%;
    text-align: right; }
  .login-only .login-form .login-submit {
    background: #59ABE3;
    color: #fff;
    border: none;
    border-radius: 3px;
    letter-spacing: 1px;
    padding: 10px 20px; }
    .login-only .login-form .login-submit:hover {
      background: #2d95dc; }
  .login-only .login-form .login-signup input {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase; }
  .login-only .login-form .login-signup p {
    display: block;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
    vertical-align: bottom; }
  .login-only .login-form .login-signup a:hover, .login-only .login-form .login-signup a:link, .login-only .login-form .login-signup a:active, .login-only .login-form .login-signup a:visited {
    text-decoration: none; }

.overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1; }

#bannerContainer .banner-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 0; }

.login {
  position: absolute;
  width: 80%;
  height: 100%;
  text-align: center;
  font-size: 25px;
  left: 250px;
  top: 0;
  padding-top: 10%; }
  .login .login-form p {
    font-size: 18px;
    margin-top: 25px; }
  .login .login-form .login-submit {
    background: #59ABE3;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-weight: 100;
    padding: 10px 20px; }

.user-profile {
  padding-top: 25px; }
  .user-profile .headshot-container .headshot {
    background: #ececec;
    border-radius: 50%;
    width: 250px;
    heighT: 250px;
    overflow: hidden; }
    .user-profile .headshot-container .headshot .fa {
      margin-top: 50px;
      margin-left: 25px;
      font-size: 250px; }
  .user-profile .headshot-container .headshot-upload {
    margin-top: 15px; }
  .user-profile .headshot-container input {
    border: none; }
  .user-profile .user-account .userdeets {
    display: block; }

.user-header .email {
  color: #E87E04;
  font-size: 18px;
  font-weight: 100;
  margin-left: 15px; }

/*# sourceMappingURL=admin.css.map */
